@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --dark-grey: #191919;
  --light-grey: #d9d9d9;
  --white-grey: #fdfdfd;
  --light-orange: #ea9e4a;
  --dark-orange: #df841f;
  --size-paragraph: 18px;
  --size-h1: 24px;
  --size-h2: 42px;
}

#root {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  border-radius: 30px;
}

header {
  height: 105px;
  display: flex;
  background-color: var(--dark-grey);
}

footer {
  margin: auto;
}

.nav {
  color: var(--white-grey);
  font-weight: lighter;
  margin: 20px;
}
.nav:hover {
  text-decoration: underline;
}