@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --dark-grey: #191919;
  --light-grey: #d9d9d9;
  --white-grey: #fdfdfd;
  --light-orange: #ea9e4a;
  --dark-orange: #df841f;
  --size-paragraph: 18px;
  --size-h1: 24px;
  --size-h2: 42px;
}

#root {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  border-radius: 30px;
}

header {
  height: 105px;
  display: flex;
  align-items: center;
  background-color: var(--dark-grey);
  padding-right: 20px;
  justify-content: space-between;
}

footer {
  margin: auto;
}

.headerSplit {
  width: fit-content;
  display: flex;
  align-items: center;
}

.nav {
  color: var(--white-grey);
  font-weight: lighter;
  margin: 20px;
}
.nav:hover {
  text-decoration: underline;
}

header image {
  display: inline;
}

header input {
  width: 480px;
  margin: 20px;
  font-family: inherit;
  height: 40px;
  padding: 0px;
}

/* header input::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 5px;
  background-image: url('/path/to/search-icon.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
} */