:root {
    --dark-grey: #191919;
    --light-grey: #d9d9d9;
    --white-grey: #fdfdfd;
    --light-orange: #ea9e4a;
    --dark-orange: #df841f;
    --size-paragraph: 18px;
    --size-h1: 24px;
    --size-h2: 42px;
}

/* FormControl bg={'#191919'} width={'800px'} m={'60px auto'} padding={'30px 175px'} */
form {
    background-color: var(--dark-grey);
    color: var(--white-grey);
    width: 800px;
    margin: 60px auto;
    padding: 30px 175px;
    display: flex;
    flex-direction: column;
    font-family: inherit;
    border-radius: 10px;
    font-size: var(--size-paragraph);
}

a {
    margin: auto;
  }
  a:hover {
    color: var(--white-grey);
  }
  a:visited {
    color: var(--white-grey);
  }

form button {
    /* width: 30%; */
    margin: 5px auto;
    padding: 0px 15px;
    font-family: inherit;
    border-radius: 10px;
    font-weight: lighter;
    font-size: var(--size-paragraph);
    min-width: 230px;
    height: 56px;
    font-size: 24px;
}

form label {
    font-family: inherit;
    font-weight: lighter;
    margin-top: 25px;
    margin-bottom: 0px;
}

form input {
    font-family: inherit;
    font-weight: lighter;
    margin-top: 0px;
    border-radius: 10px;
}

.primary {
    margin-top: 25px;
    color: var(--dark-grey);
    background-color: var(--light-orange);
    font-weight: lighter;
}
.primary:hover {
    background-color: var(--dark-orange);
    text-decoration: underline;
}

.secondary {
    font-weight: lighter;
    background-color: var(--white-grey);
}
.secondar::hover {
    text-decoration: underline;
    background-color: var(--light-orange);
}

.tertiary {
    font-weight: lighter;
    padding: 0;
    min-width: 0px;
    height: fit-content;
}
.tertiary:hover {
    text-decoration: underline;
}