:root {
    --dark-grey: #191919;
    --light-grey: #d9d9d9;
    --white-grey: #fdfdfd;
    --white-orange: #FFD9AF;
    --light-orange: #ea9e4a;
    --dark-orange: #df841f;
    --size-paragraph: 18px;
    --size-h1: 24px;
    --size-h2: 42px;
}

.homeWrapper {
    width: 1280px;
    margin: auto;
}

.filterHeader {
    width: 1160px;
    padding: 0 0 25px 0;
    border-bottom: 1px solid black;
    margin: 30px auto 25px auto;
}

.filterHeader input {
    width: 30%; /* Not exact info */
    margin: 0 30px 0 0;
}

.categoryList {
    width: calc(1280px - 212px);
    text-align: center;
    margin: auto;
}

.categoryButton {
    border: 1px solid black;
    font: inherit;
    font-size: 24px;
    font-weight: 100;
    margin: 12.5px;
    padding: 0 10px;
    border-radius: 10px;
}
.categoryButton.selected {
    background-color: var(--white-orange);
}

.mapButton {
    background-color: var(--dark-orange);
    position: absolute;
    right: 65px;
    width: 230px;
    height: 56px;
    font-size: 24px;
    border-radius: 10px;
    bottom: 324px;
}

footer {
    position: relative;
    bottom: 0;
    height: 264px;
    background-color: var(--dark-grey);
    margin-top: 60px;
    display: flex;
}
footer div {
    width: 33%;
}
.footerButtons {
    display: flex;
    flex-direction: column;
}
.footerButtons button {
    color: white;
    text-align: left;
    font-weight: 100;
}