:root {
    --dark-grey: #191919;
    --light-grey: #d9d9d9;
    --white-grey: #fdfdfd;
    --white-orange: #FFD9AF;
    --light-orange: #ea9e4a;
    --dark-orange: #df841f;
    --size-paragraph: 18px;
    --size-h1: 24px;
    --size-h2: 42px;
}

.card {
    width: 240px;
    overflow: hidden;
    position: relative;
    margin: 0 32.5px 65px;
    /* background-color: aqua; */
}

.card img {
    width: 240px;
    height: 240px;
    border-radius: 10px;
}

.availabilityTag {
    position: absolute;
    text-align: center;
    background-color: var(--light-orange);
    height: 45px;
    width: 200px;
    transform: rotate(45deg);
    top: 5px;
    right: -70px;
}

.card .title {
    font-size: var(--size-h1);
    margin: 15px 2px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .location {
    margin: 10px 2px 15px;
    font-size: 18px;
    white-space: nowrap;
    display: flex;
}

.location .city {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .price {
    margin: 0 2px;
    font-size: 18px;
}

.card .rating {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 4px;
}