:root {
  --dark-grey: #191919;
  --light-grey: #d9d9d9;
  --white-grey: #fdfdfd;
  --light-orange: #ea9e4a;
  --dark-orange: #df841f;
  --size-paragraph: 18px;
  --size-h1: 24px;
  --size-h2: 42px;
}